<div class="col-md-6 col-lg-7 col-xl-8" style="width: 100%;">
    <%= turbo_stream_from "messages" %>
    <%= turbo_frame_tag "messages"  do %>

                <%= render @messages %>

    <% end %>
    <li class=" mb-3">
        <%= turbo_frame_tag "messages_form" do %>
            <%= render "messages/form",message: Message.new %>
        <% end %>
    </li>
</div>
