
<div class=" main d-flex justify-content-center" >

  <!-- Element on the left -->
  <div class=" left d-flex  justify-content-center "  style="width: 50vh;">
        <div class="conversation-left " style="background-color:rgb(33, 37, 41);">
            <div class ="conversation-search " > 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <h3 id="search-contacts"><%=current_user.username %></h3><span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse me-5" id="navbarSupportedContent1">
                        <%= form_with(url: conversations_path, method: :get, data: {turbo_frame: "conversation_search_results", controller: "conversation-search-result"}, class:"d-flex") do |f| %>

                    <div class="dropdown">
                        <%= f.text_field :search_query, class: "form-control me-2 border-0", type:"search", placeholder:"Search",
                            "aria-label"=>"Search", style: "background: #efefef", "data-bs-toggle"=>"dropdown", "aria-expanded"=>"false",
                            data: {action: "input->conversation-search-result#search"} %>

                        <ul class="dropdown-menu p-4 mt-2" style="width:25rem">
                        <%= render 'conversations/conversation_search_results', users: [] %>
                        </ul>
                    </div>

                    <% end %>
                </div>
            </div>
            <div class="table" style= "width: 50vh;">
            <%= render "conversations/table",conversations: @conversations %>
            </div>
        </div>
  </div>

  <!-- Vertical divider -->
  <div class="vr" style="height: 100vh;"></div>

  <!-- Element on the left -->
  <div class="right"  style="width: 50vh;">
    <%= turbo_frame_tag "messaging_box" do %>
        <h2 class="start-conversation text-center" >Start A Conversation <i class="fa-brands fa-facebook-messenger fa-xl"></i></h2>
    <% end %>
  </div>

</div>
