<%= turbo_frame_tag "post#{post.id}actions" do %>
  <div class="d-flex justify-content-start align-items-center gap-1 mb-3">
     <%= button_to toggle_like_path(post_id: post.id), method: :post, style: "border:none; background:none", id: "post#{post.id}actions-likeBtn" do %>
       <i class="<%= post.likes.find_by(user: current_user) ? "fa-solid color-red" : "fa-regular" %> fa-heart fa-xl"></i>
     <% end %>
     <a href="#" data-bs-toggle="modal" data-bs-target="#post<%= post.id %>_commentsModal" style="text-decoration:none" >
       <i class="fa-regular fa-comment fa-xl fa-flip-horizontal text-dark"> </i>
     </a>
   </div>
   <a href="#" data-bs-toggle="modal" data-bs-target="#post<%= post.id %>_likesModal" style="text-decoration:none" class="text-dark">
     <small class="fw-bold my-1"><%= pluralize(post.likes.count, "like") %> </small>
  </a>

   <p class="card-text"><span class="fw-bold"><%= post.user.username %></span> <%= post.caption %></p>
                <%= render "posts/post_comments", post: post %>

                <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
      <%= form_with url: comments_path, method: :post, data: {controller: "comments", action: "turbo:submit-end->comments#clear"} do |f| %>
                <div class="card-footer d-flex justify-content-between bg-white">
                  <%= f.hidden_field :post_id, value: post.id %>
                  <%= f.text_area :comment_body, class: "w-75", placeholder: "Add a comment...", style:"border:none" %>
                  <%= f.submit "Post", class: "text-primary fw-bold", style: "background:none;border:none"  %>
                </div>
              <% end %>
  <!-- Modal -->
  <div class="modal fade" id="post<%= post.id %>_likesModal" tabindex="-1" aria-labelledby="post<%= post.id %>_likesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="post<%= post.id %>_likesModalLabel">Post Likes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column gap-3" >
            <% post.likers.each do |liker| %>
              <%= render "posts/liker", liker: liker %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>